body {background-color: coral;}

.grid-container {
    border: 1px solid;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2%;
    height: 90vmin;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    height: 80vmin;
    width: 90vmin;
    text-align: center;
  }

  .image {
      width: 90vmin;
     

  }